<p id="notice"><%= notice %></p>

<h3>Users</h3><br>

<tbody>
<% @users.each_with_index do |user| %>
  <tr>
    <td><%= link_to user.username, user_path(user.id) %></td><br><br>
  </tr>
<% end %>
</tbody>

<br>

<%= link_to 'Back', :back %>