<h4>Upcoming Events</h4>

<table>
  <thead>
  <th>Event</th>
  <th>Date</th>
  </thead>
  <tbody>
  <% @events.each_with_index do |event| %>
    <tr>
      <td><%= link_to event.name, event %></td>
      <td><%= event.date %></td>
    </tr>
  <% end %>
  </tbody>
</table>