
<div class="row ml-0 mt-3">
  <h4>Invitations</h4>
</div>

<div class="row">
  <% @invitations.each do |invitation| %>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <p class="card-text"><%= link_to invitation.event.name, event_path(invitation.event.id) %></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <!-- <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Delete", invitation, method: :delete, remote: true%></button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Back', :back %></button>
<!-- <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'New Invitation', new_user_invitation_path %></button> -->