<p id="notice"><%= notice %></p>

<h3>Organizations</h3>

<table>
  <tbody>
<% @organizations.each_with_index do |organization| %>
  <tr>
    <td><%= link_to organization.name, organization_path(organization.id) %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path %>

<br><br>

<%= link_to 'Back', :back %>